
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
iframe { 
    width:280px; 
    height:157.5px;
}
body { 
    background-color: #FFFFF2; 
    color: black; 
    font-family: 'Poppins', sans-serif, helvetica; 
    line-height: 1.6; 
    padding: 1rem; 
}
a:focus, button:focus { 
    outline: 3px solid #FFC43B; 
    outline-offset: 3px; 
}
.skip { 
    position: absolute; 
    top: -40px; 
    left: 10px; 
    background: #FFC43B; 
    color: black; 
    padding: 8px; 
}
.skip:focus { 
    top: 10px; 
}
header { 
    padding: 1.5rem 0;
    text-align: center; 
    background-color: #F7BCCB;  
}
h1 { 
    margin-bottom: 1rem; 
    font-size: 3rem; 
    color: #C4394B; 
    font-family: 'Baloo Bhaijaan 2', sans-serif, helvetica;
}
h2, h3 { 
    color: #C4394B; 
}
nav ul { 
    list-style: none;
    padding: 0; 
}
nav li{ 
    margin: 0.5rem 0; 
}
nav a { 
    font-family: 'Baloo Bhaijaan 2', sans-serif, helvetica;
    text-decoration: none; 
    color: black; 
}
.on { 
    font-weight: bold;  
}
nav a:hover, nav a:focus { 
    background-color: #FFC43B; 
}
main { 
    margin-top: 2rem; 
}
div { 
    padding: 1rem; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 1rem; 
}
figure { 
    margin-top: 1rem; 
    text-align: center; 
    border-radius: 10px; 
}
figure img { 
    width: 350px; 
}
figcaption { 
    margin-top: 0.3rem;
    color: black; 
}
.dancetypes, .dances { 
    list-style: disc; 
    margin-left: 2rem; 
}
p, ul, li { 
    margin-bottom: 0.5rem; 
}
.Vazhavoor, .Pandanallur { 
    border: #C4394B, solid, 2px; 
    border-radius: 30px; 
    background-color: #FFC43B; 
    padding: 1rem; 
    margin: 0; 
}
.Tanjavoor, .Kalakshetra { 
    border: #C4394B, solid, 2px; 
    border-radius: 30px;
    background-color: #F7BCCB; 
    padding: 1rem; 
    margin: auto 0px; 
}
#front img, #back img {
    height: 270px; 
    width: auto; 
}
#front h3, #back h3 {
    text-align: center; 
}
.flip-container { 
    perspective: 1000px; 
    width: 90%; 
    height: 500px; 
    margin: 0px auto;
}
.flipper { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
    margin: 0px auto;
}
#front, #back { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    backface-visibility: hidden; 
}
#back { 
    transform: rotateY(180deg);
}
.flip-container:hover .flipper { 
    transform: rotateY(180deg); 
}
footer { 
    text-align: center; 
    padding: 2rem 0; 
    background-color: #C4394B; 
    color: #FFFFF2; 
    margin-top: 3rem; 
}
section img { 
    transition: transform 0.5s ease-in-out;   
}
section img:hover { 
    transform: translate(20px, -10px) scale(1.1); 
}

@media (min-width: 768px) { 
    section { 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        align-items: center; 
        gap: 2rem; 
        margin: 10px; 
    }
    section div { 
        grid-column: 1; 
    }
    section figure { 
        grid-column: 2;
        margin-top: 10px; 
    }
    figure img { 
        height: 300px;
        width: auto;  
    }
    #front img, #back img {
        height: 300px; 
        width: auto; 
        margin: auto;  
    }
    iframe { 
        width:560px; 
        height:315px;
    }
    .flip-container { 
        perspective: 1000px; 
        width: 70%; 
        height: 420px; 
        margin: 0px auto;
    }
    #back { 
        padding: 75px; 
    }
}

@media (min-width: 1200px) { 
    body { 
        margin: auto;  
    }
    nav ul { 
        display: flex; 
        justify-content: center; 
        gap: 2rem; 
    }
    nav li { 
        margin: 0; 
    }
}

@media (prefers-reduced-motion: reduce) {
    .flipper { 
        transform: none; 
        transition: none; 
        position: static; 
        display: block; 
        height: auto; 
    }
    #front, #back { 
        position: static; 
        backface-visibility: visible; 
        transform: none;
        display: block; 
        margin-bottom: 1rem; 
    }
    .flip-container:hover .flipper { 
        transform: none;
    }
    .flip-container { 
        height: auto; 
        perspective: none;
    }
    section img:hover { 
        transform: none; 
    }
}

@media (prefers-color-scheme: dark) { 
    body { 
        background-color: #111; 
        color: #eee; 
    }
    .flip-container { 
        color: black; 
        margin: auto
    }
    figcaption {
        color: #eee; 
    }
}